{% extends "layout.njk" %}

{% block content%}
    <h1>{{title}}</h1>
    <p>{{message}}</p>

    <ul>
        {% for movie in movies %}
        <li>
            <h1><a href="movie.id">{{ movie.title }}</a></h1>
            <p>{{ movie.director }}</p>
            <p>{{ movie.year }}</p>
            <p>{{ movie.genre }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}