    <nav>
        <div class="title">
        <h2>Episk Webbsida</h2>
        </div>
        <ul class="nav-list">
            <li><a href="/">Home pagen</a></li>
            <li><a href="About">About pagen</a></li>
            <li></li><a href="Movies">Movies</a>
        </ul>
    </nav>